<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
  <connectionStrings>
    <add name="ql_raumaEntities2" connectionString="metadata=res://*/QLRauMa.csdl|res://*/QLRauMa.ssdl|res://*/QLRauMa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RAUMA;initial catalog=ql_rauma;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
